<a href="https://colab.research.google.com/github/CarolinaGarcia19/Clase1/blob/main/Clase_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduccion**
----En python hay variso tipos de datos compuestos y estan disponibles por defecto en los interpretes.
---
Para manejar codigo limpio en python podemos seguir las siguientes recomendaciones:

1.Manejar siempre minuscula
2.Se le puede añadir numeros
3.
En python hay varios tipos de datos compuestos y estan disponibles por defecto en los interpretes.

**¿De que tipos?**
1.Numericos
2.secuencias
3.Mapeos
4.Conjuntos usados para agrupar otros valor

**Diferencias entre variables y constantes**
En matematicas llamamos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo: contabilidad, gastos fijos , miuebles de oficina
Ejemplo 2:6

Por otro lado, el concepto de variable, como la cantidad que es suceptible a tomar distintos valores numericos.

In [1]:
x=80
print(x)

80

Tipos de datos

In [2]:
a= int(3.965)
print(a)

3

El comando int es para hacer alusion a numeros enteros. A parte el comando float , permite valores con decimales.

In [4]:
b=float(8.23)
print(b)

8.23

**tipo cadena**

Las cadenas de texto encerrado entre comillas (simples o dobles) y se pueden confrmar de diferentes caracteres (Numericos, Alfabeticos, Especiales; #$+%*)
Tener en cuenta, las cadenas admiten operadores como la suma y la resta.

In [6]:
val1="Luisa"
print(val1)
val2="Hola mundo"
print(val2)

Luisa
Hola mundo

In [15]:
n="Aprender"
z="Python"
nz=n+" "+z
print(n,z)

q="5"
p="2"
b=int(q)
c=int(p)
print(b-c)

Aprender Python
3

**Tipo Boleano**
---

Este tipo de variable solo tendra un valor de verdadero o falso.
**nota**
son valores muy usados en condiciones y bucles.

In [16]:
lola=True
print("El valor es verdadero:",lola,", el cual es de tipo", type(lola))

El valor es verdadero: True , el cual es de tipo <class 'bool'>

**Tipos de conjuntos**
Son una coleccion de elementos que se repiten:

In [17]:
fru="pera","manzana","naranja"
color="morado","blanco","azul"
print(fru,color)

('pera', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**tipos de listas**
---
Son listas las almacenan vectore. Ejemplos de listas en python:

Las listas empiezan a nombrarse siempre desde el elemento cero,a partir de alli empieza el conteo. el segundo numero determina el numero de elementos

In [21]:
ines=["5","uva","lila","perro"]
print(ines)
fe=ines[0:2]
print(fe)

['5', 'uva', 'lila', 'perro']
['5', 'uva']

**Tipo tuplas**
Es una lista que no se puede modificar despues de la creacion de esta:
Tuplas anidadas: Agrupacion(Tuplas)

In [23]:
tupla=23,28,"hello"
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'hello')
((23, 28, 'hello'), (1, 2, 3, 4))

**Tipo Diccionario**
---
Define los datos uno a uno entre un campo (ID-Identificador-Clave) y un valor:

In [32]:
datos_b={
    "nombres":"Diana",
    "apellido":"Perea",
    "cedula":"2345671",
    "estado_civil":"viuda",
    "lugar_nacimiento":"Neiva",
    "fecha_nacimiento":"24/12/1980",
}

print("ID del diccionario", datos_b.keys())
print("ID del diccionario", datos_b.values())
print("ID del diccionario", datos_b.it

SyntaxError: ignored

**Ejemplo practico (Caracteristicas de los carros)**