<a href="https://colab.research.google.com/github/CarolinaGarcia19/Clase1/blob/main/Taller_Semana_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Investigando los accidentes de tr√°nsito en Nueva York

In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import datetime
from google.colab import files
uploaded = files.upload()

Saving accidents_sample.csv to accidents_sample (1).csv

## Introducci√≥n

**Contexto empresarial.** La ciudad de Nueva York ha experimentado un aumento en el n√∫mero de accidentes en las v√≠as de la ciudad. Quieren saber si el n√∫mero de accidentes ha aumentado en las √∫ltimas semanas. Para todos los accidentes reportados, han recopilado detalles para cada accidente y han estado manteniendo registros durante el √∫ltimo a√±o y medio (desde enero de 2018 hasta agosto de 2019).

La ciudad te ha contratado para que construyas visualizaciones que les ayuden a identificar patrones en accidentes, lo que les ayudar√≠a a tomar acciones preventivas para reducir la cantidad de accidentes en el futuro. Tienen ciertos par√°metros como comuna, hora del d√≠a, motivo del accidente, etc. De los que se preocupan y de los que les gustar√≠a obtener informaci√≥n espec√≠fica.

**Problema empresarial.** Su tarea es formatear los datos proporcionados y proporcionar visualizaciones que respondan a las preguntas espec√≠ficas que tiene el cliente, que se mencionan a continuaci√≥n.

**Contexto anal√≠tico.** Se le proporciona un archivo CSV que contiene detalles sobre cada accidente como fecha, hora, ubicaci√≥n del accidente, motivo del accidente, tipos de veh√≠culos involucrados, recuento de lesiones y muertes, etc. El delimitador en el archivo CSV dado es; en lugar del predeterminado,. Realizar√° las siguientes tareas con los datos:

*    Leer, transformar y preparar datos para su visualizaci√≥n
*    Realizar an√°lisis y construir visualizaciones de los datos para identificar patrones en el conjunto de datos.

El cliente tiene un conjunto espec√≠fico de preguntas a las que le gustar√≠a obtener respuestas. Deber√° proporcionar visualizaciones para acompa√±ar estos:

1.    ¬øC√≥mo ha fluctuado el n√∫mero de accidentes durante el √∫ltimo a√±o y medio? ¬øHan aumentado con el tiempo?
2.   Para un d√≠a en particular, ¬ødurante qu√© horas es m√°s probable que ocurran accidentes?
3.    ¬øHay m√°s accidentes entre semana que los fines de semana?
4.    ¬øCu√°l es la proporci√≥n de accidentes por √°rea por comuna? ¬øQu√© distritos tienen un n√∫mero desproporcionadamente grande de accidentes para su tama√±o?
5.    Para cada comuna, ¬ødurante qu√© horas es m√°s probable que ocurran accidentes?
6.    ¬øCu√°les son las 5 principales causas de accidentes en la ciudad?

In [ ]:
# Use la siguiente informacip√≥n de cada comuna ("borough") para realizar los an√°lisis

borough_data = {'the bronx': {'name': 'the bronx', 'population': 1471160.0, 'area': 42.1},
 'brooklyn': {'name': 'brooklyn', 'population': 2648771.0, 'area': 70.82},
 'manhattan': {'name': 'manhattan', 'population': 1664727.0, 'area': 22.83},
 'queens': {'name': 'queens', 'population': 2358582.0, 'area': 108.53},
 'staten island': {'name': 'staten island', 'population': 479458.0, 'area': 58.37}}

Tenemos las siguientes columnas

     Borough: el comuna en el que ocurri√≥ el accidente.
     COLLISION_ID: un identificador √∫nico para esta colisi√≥n
     CONTRIBUTING FACTOR VEHICLE (1, 2, 3, 4, 5): Motivos del accidente
     CROSS STREET : Calle transversal m√°s cercana al lugar de los accidentes
     DATE: Fecha del accidente
     TIME: Hora del accidente
     DATETIME: la columna que creamos anteriormente con la combinaci√≥n de fecha y hora
     LATITUDE: Latitud del accidente
     LONGITUDE: Longitud del accidente
     NUMBER OF (CYCLIST, MOTORIST, PEDESTRIANS) INJURED: Lesi√≥n por categor√≠a
     NUMBER OF (CYCLIST, MOTORIST, PEDESTRIANS) KILLED: Categor√≠a muerte sabia
     ON STREET NAME: Calle donde ocurri√≥ el accidente
     TOTAL INJURED: Total de heridos por el accidente
     TOTAL KILLED: Total de bajas en el accidente
     VEHICLE TYPE CODE (1, 2, 3, 4, 5): Tipos de veh√≠culos involucrados en el accidente
     ZIP CODE: c√≥digo postal del lugar del accidente

Primero cargue los datos del csv a un dataframe.

**Nota:** El archivo se encuentra separado por punto y coma ( ; ) en lugar de coma ( , ), as√≠ que se debe ingresar el par√°metro sep para leer el archivo. Aqu√≠ puede encontrar informaci√≥n:

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv

In [14]:
# Escriba su c√≥digo aqu√≠
df = pd.read_csv('accidents_sample.csv', sep= ';')

In [15]:
df.head(1)

         DATE  TIME  ... VEHICLE TYPE CODE 4  VEHICLE TYPE CODE 5
0  05/29/2019  8:19  ...                 NaN                  NaN

[1 rows x 24 columns]

In [25]:
df["DATETIME"]=df[["DATE","TIME"]].apply(" ".join, axis=1)
df.tail(1)

             DATE   TIME  ... VEHICLE TYPE CODE 5          DATETIME
47703  09/23/2018  17:28  ...                 NaN  09/23/2018 17:28

[1 rows x 25 columns]

In [17]:
df["DATETIME"] = pd.to_datetime(df["DATETIME"])
df.dtypes

DATE                                     object
TIME                                     object
BOROUGH                                  object
ZIP CODE                                float64
LATITUDE                                float64
LONGITUDE                               float64
ON STREET NAME                           object
NUMBER OF PEDESTRIANS INJURED             int64
NUMBER OF PEDESTRIANS KILLED              int64
NUMBER OF CYCLIST INJURED                 int64
NUMBER OF CYCLIST KILLED                  int64
NUMBER OF MOTORIST INJURED                int64
NUMBER OF MOTORIST KILLED                 int64
CONTRIBUTING FACTOR VEHICLE 1            object
CONTRIBUTING FACTOR VEHICLE 2            object
CONTRIBUTING FACTOR VEHICLE 3            object
CONTRIBUTING FACTOR VEHICLE 4            object
CONTRIBUTING FACTOR VEHICLE 5            object
COLLISION_ID                              int64
VEHICLE TYPE CODE 1                      object
VEHICLE TYPE CODE 2                      object
VEHICLE TYPE CODE 3                      object
VEHICLE TYPE CODE 4                      object
VEHICLE TYPE CODE 5                      object
DATETIME                         datetime64[ns]
dtype: object

In [24]:
df["DATETIME"].groupby(df.DATETIME.dt.to_period("M")).agg("count")

DATETIME
2018-01    2406
2018-02    2110
2018-03    2469
2018-04    2317
2018-05    2658
2018-06    2669
2018-07    2453
2018-08    2556
2018-09    2494
2018-10    2654
2018-11    2470
2018-12    2461
2019-01    2170
2019-02    2102
2019-03    2258
2019-04    2196
2019-05    2562
2019-06    2583
2019-07    2422
2019-08    1694
Freq: M, Name: DATETIME, dtype: int64

## Parte 1: Accidentes a lo largo del tiempo

Agrupe los datos disponibles mensualmente y genere una gr√°fica lineal de accidentes a lo largo del tiempo. ¬øHa aumentado el n√∫mero de accidentes durante el √∫ltimo a√±o y medio?

## Parte 2: Puntos calientes de accidentes en un d√≠a

¬øC√≥mo var√≠a el n√∫mero de accidentes a lo largo de un solo d√≠a? Cree una nueva columna HORA basada en los datos de la columna DATETIME, luego trace un gr√°fico de barras de la distribuci√≥n por hora a lo largo del d√≠a.

In [ ]:
# Escriba su c√≥digo aqu√≠

## Parte 3: Accidentes por d√≠a laborable

¬øC√≥mo var√≠a el n√∫mero de accidentes en una sola semana? Trace un gr√°fico de barras basado en el recuento de accidentes por d√≠a de la semana.

In [ ]:
# Escriba su c√≥digo aqu√≠

## Parte 4: An√°lisis de comuna

Trace un gr√°fico de barras del n√∫mero total de accidentes en cada comuna, as√≠ como uno de los accidentes por kil√≥metro cuadrado por comuna. ¬øQu√© puedes concluir?

In [ ]:
# Escriba su c√≥digo aqu√≠

## Parte 5: An√°lisis por hora del comuna

¬øQu√© horas tienen m√°s accidentes en cada comuna? Trace un gr√°fico de barras para cada comuna que muestre el n√∫mero de accidentes por cada hora del d√≠a.

In [ ]:
# Escriba su c√≥digo aqu√≠

## Parte 6: Causa de accidentes

¬øQu√© factores provocan la mayor√≠a de los accidentes?

In [ ]:
# Escriba su c√≥digo aqu√≠