<a href="https://colab.research.google.com/github/CarolinaGarcia19/Clase1/blob/main/Taller_semana_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Taller semana 3

## Ejercicio 1:

Cargue los datos del archivo ```pokemon_data.csv``` a un dataframe, cree una columna que se llame interes asignándole el valor False, luego cambie el valor de esta columna solo para los pokemon que sean legendarios (Legendary = True) y que el Type 1 sea fuego.

In [ ]:
import pandas as pd

In [30]:
import pandas as np

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving pokemon_data (1).csv to pokemon_data (1).csv

In [ ]:
pk = pd.read_csv('pokemon_data (1).csv',sep=',')

In [ ]:
pk['Interes'] = False
pk.head(10)

   #                       Name Type 1  ... Generation  Legendary  Interes
0  1                  Bulbasaur  Grass  ...          1      False    False
1  2                    Ivysaur  Grass  ...          1      False    False
2  3                   Venusaur  Grass  ...          1      False    False
3  3      VenusaurMega Venusaur  Grass  ...          1      False    False
4  4                 Charmander   Fire  ...          1      False    False
5  5                 Charmeleon   Fire  ...          1      False    False
6  6                  Charizard   Fire  ...          1      False    False
7  6  CharizardMega Charizard X   Fire  ...          1      False    False
8  6  CharizardMega Charizard Y   Fire  ...          1      False    False
9  7                   Squirtle  Water  ...          1      False    False

[10 rows x 13 columns]

In [ ]:
fire = pk.loc[(pk["Type 1"] == "Fire") & (pk["Legendary"]== True)] 
fire

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Interes
158  146    Moltres   Fire  Flying  ...     90           1       True    False
263  244      Entei   Fire     NaN  ...    100           2       True    False
270  250      Ho-oh   Fire  Flying  ...     90           2       True    False
542  485    Heatran   Fire   Steel  ...     77           4       True    False
799  721  Volcanion   Fire   Water  ...     70           6       True    False

[5 rows x 13 columns]

In [76]:
fire1 = fire.assign(Interes= True)
fire1

       #       Name Type 1  Type 2  ...  Speed  Generation  Legendary  Interes
158  146    Moltres   Fire  Flying  ...     90           1       True     True
263  244      Entei   Fire     NaN  ...    100           2       True     True
270  250      Ho-oh   Fire  Flying  ...     90           2       True     True
542  485    Heatran   Fire   Steel  ...     77           4       True     True
799  721  Volcanion   Fire   Water  ...     70           6       True     True

[5 rows x 13 columns]

## Ejercicio 2

Con los datos de pokemones anteriores, escriba un código para sacar el promedio de la columna Attack agrupado por Type 1.

In [ ]:
pk_Type_Attack = pk[["Type 1","Attack"]] 
pk_promedio = pk_Type_Attack.groupby("Type 1",as_index=False).mean()
pk_promedio

      Type 1      Attack
0        Bug   70.971014
1       Dark   88.387097
2     Dragon  112.125000
3   Electric   69.090909
4      Fairy   61.529412
5   Fighting   96.777778
6       Fire   84.769231
7     Flying   78.750000
8      Ghost   73.781250
9      Grass   73.214286
10    Ground   95.750000
11       Ice   72.750000
12    Normal   73.469388
13    Poison   74.678571
14   Psychic   71.456140
15      Rock   92.863636
16     Steel   92.703704
17     Water   74.151786

## Ejercicio 3

Se le entregan los datos de movimientos de acciones en el archivo ```DUK.csv```, y se le pide que entregue el promedio de Open del 2015, es decir entre las fechas 2015-01-01 y 2015-12-31

In [37]:
import datetime

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving DUK.csv to DUK.csv

In [ ]:
duk = pd.read_csv("DUK.csv",sep=",")

In [28]:
duk.head()

         Date       Open       High        Low      Close  Adj Close   Volume
0  2014-07-28  73.309998  74.480003  73.230003  74.389999  59.266285  3281100
1  2014-07-29  74.400002  74.480003  73.760002  73.980003  58.939648  2236300
2  2014-07-30  74.029999  74.199997  72.580002  73.050003  58.198696  2782200
3  2014-07-31  72.610001  73.099998  72.059998  72.129997  57.465740  3249000
4  2014-08-01  72.239998  73.370003  72.150002  72.940002  58.111061  3960200

In [72]:
dates = duk.loc[(duk["Date"].between ("2015-01-01" , "2015-12-31"))]
dates.head(10)

           Date       Open       High        Low      Close  Adj Close   Volume
110  2015-01-02  83.540001  84.230003  83.089996  84.050003  68.374176  2266200
111  2015-01-05  83.599998  83.910004  82.610001  82.839996  67.389832  3780400
112  2015-01-06  82.919998  84.790001  82.919998  84.199997  68.496178  5290900
113  2015-01-07  84.260002  84.889999  83.720001  84.470001  68.715836  2583500
114  2015-01-08  84.919998  85.279999  84.570000  84.809998  68.992432  2165100
115  2015-01-09  85.000000  85.389999  84.220001  84.930000  69.090042  2679100
116  2015-01-12  85.199997  85.489998  84.650002  85.010002  69.155113  2300200
117  2015-01-13  85.300003  86.779999  85.169998  85.470001  69.529320  3529600
118  2015-01-14  85.080002  85.779999  84.650002  85.690002  69.708305  3383100
119  2015-01-15  85.889999  86.949997  85.360001  86.760002  70.578720  3886000

In [70]:
dates["Open"].mean()

74.8137697698413